.idea/
.ijwb/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp

# Bazel folders
bazel-*

# Test binary, built with `go test -c`
*.test
# But not test files for bazel
!BUILD.bazel.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

